.header-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px;
    position: sticky;
    top: 0;
    background-color: #F5F6FA;
    z-index: 1;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    color: black;
    text-decoration-line: underline;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Nerko One', cursive;
}

.favorite-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bi-bookmark {
    color: black;
    font-size: 18px;
}